name: "Publish to the PDS"
on:
  push:
    branches: [main]

jobs:
  publish:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - uses: actions/checkout@v4
      - uses: remanso-space/sequoia@main
        with:
          identifier: ${{ secrets.ATP_IDENTIFIER }}
          app-password: ${{ secrets.ATP_APP_PASSWORD }}
